<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/icons/credit.png">
    <title>Credit Card Validator</title>

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        <a href="https://github.com/vpreseault/credit-card-validator" target="_blank">Github</a>
        <a href="https://github.com/vpreseault/credit-card-validator#" target="_blank">About</a>
    </header>

    <section>
        <h1>Credit Card Validator</h1>
        
        <form class="form-container">
            <input type="text" id="cc-number" name="cc-number" placeholder="Ex: 5555 5555 5555 4444" required>
            <button hx-get="/validate" hx-include="[name='cc-number']" hx-target="#result-container">Validate</button>
        </form>
    
        <div id="result-container" hx-get="/history" hx-trigger="load"></div>
    </section>
  
</body>
</html>